body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

.marker {
  stroke: #3f51b5;
  transform: translate(-50%, -100%);
}

.popup {
  max-width: 400px;
}

.popup.form {
  width: 40vw;
}

.entryForm label, .entryForm input, .entryForm textarea {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
}
